@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@keyframes cambiar {
    0% {margin-left: 0;}
    30% {margin-left: 0;}
    
    35% {margin-left: -100%;} /*pasa a la segunda imagen detras*/
    65% {margin-left: -100%;}
    
    70% {margin-left: -200%;}
    100% {margin-left: -200%;}

    }
.tit{
    display: contents!important;
}

 /*banner*/
 .slider{
    width: 100%;
    overflow: hidden; /*oculta los elementos fuera*/
}

.slider ul{
    display: flex;
    padding: 0;
    width: 300%;
    background: rgba(245,245,245); 
    animation: cambiar 20s infinite alternate linear;
       
}

.slider li{
    list-style: none;
    width: 100%;
    height: 5rem;
}

.slider img{
    width: 100%; 
    height: 100%;
    object-fit: contain;
}
.animacion{
    margin-bottom: 0rem;
}

/*titulo*/
.titulo_destacado{
    background-color: rgb(140 156 185);
    padding: 0.5rem;
    color: white;
    border-top: 3px solid rgba(1, 135, 253, 0.369);
    border-bottom: 3px solid rgba(1, 135, 253, 0.369);
    font-family: 'Permanent Marker';
    font-size: 1.5rem;
   
}


@media (max-width: 637px) {
    .nav{
        margin-left: 0 !important;
    }

    .btn-crud{
        display: block !important;
         text-align: center !important;
    }
    .btn-warning-crud{
        margin: 0 !important;
        margin-bottom: 4px !important;
    }
}

@media (max-width: 500px) {
    .slider li{
        height: 4rem;
    }

    .titulo{
        font-size: 1rem !important;
    }

    .img_logo_footer{
        width: 25px;
    }
}
